- name: Add user to JupyterHub
  # ========================================================
  # Allows caller to override hosts using '-e cmd_hosts='
  hosts: "{{ cmd_hosts | default('jupyterhub') }}"
  become: true

  roles:
    - add_user
#
# ========================================================
# ansible-playbook playbooks/add_user.yml -i inventories/cassiopee/hosts.ini --extra-vars "username=foo password=bar"
